  *{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }

  .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #320E3B;
    position: sticky;
    top: 0;
  }

  .navbar ul{
    display:flex;
    list-style: none;
    margin: 26px 0px;
  }

  .navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
  }

    .navbar ul li a{
      text-decoration: none;
      color: #FFFFFF;
      padding: 8px 25px;
      transition: all .5s ease;
    }

    .navbar ul li a:hover{
      background-color: #FFFFFF;
      color:black;
      box-shadow: 0 0 10px white;
    }

    /*Home*/

    #home{
      display: flex;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.5);
      height: 840px;
      justify-content: center;
      align-items: center;
      color: white;
    }

    #home:before{
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background:url("images/me.jpg") no-repeat center center/cover;
      height: 900px;
      width: 45%;
      z-index: -1;
      opacity: .8;
    }

    .main{
      display:flex;
      flex-direction: column;
      border: 3px dashed white;
      padding: 3em;
      align-items: flex-start;
      position: absolute;
      top: 30%;
      left: 10%;
    }

    .headings{
      font-family: century;
      font-size: 3rem;
      text-align: center;
      margin: 40px 0px;
    }

    #about{
      text-align: center;
      font-size: 10px;
    }

    .heading{
      font-family: century;
      font-size: 3rem;
      text-align: center;
      margin-top: 1em;
    }

    .dobeme{
      display: block;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
      margin-top: 2em;
      margin-bottom: 2em;
      border: 3px dashed #F3B9D1;
      padding: 3em;
    }

    .intro{
      font-family: century;
      font-size: 1.7em;
      text-align: center;
    }

  #portfolio{
      display:flex;
      flex-wrap: wrap;
      background-color: white;
      justify-content: space-around;
    }

  .gallery{
      flex: 1 0 auto;
      width:50px;
      margin: 0 1em;
    }


  .responsive-img:hover{
      background-color: #F3B9D1;
      color:black;
      box-shadow: 0 0 30px pink;
    }

    .responsive-img{
      display: block;
      margin-left:auto;
      margin-right:auto;
      width: 70%;
      padding: 50px;
    }






    #icelogoandlabel{
      background-color: white;
      margin-top: auto;
      margin-bottom: auto;
    }

    .ice{
      text-align: center;
      font-size: 1.7rem;
      font-family: century;
      margin-top: 2rem;
      margin-bottom: 1rem;
      color: black;
    }

    .icepic{
      display: block;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      margin-bottom: 2em;
      border: 3px dashed #F3B9D1;
      padding: 3em;
    }

    .icepicture{
      display: block;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      margin-top: 2em;
      margin-bottom: 2em;
      border: 3px dashed #F3B9D1;
      padding:3em;
    }

    .brand p{
      margin-top: 2em;
      font-family: century;
      font-size: 2rem;
      text-align: center;
      color: black;
    }








    #eternalhappiness{
      background-color: white;
      margin-top: auto;
      margin-bottom: auto;
    }

    .happy{
      text-align: center;
      font-size: 1.7rem;
      font-family: century;
      margin-top: 2rem;
      margin-bottom: 1rem;
      color: black;
    }

    .eternal{
      text-align: center;
      font-size: 1.7rem;
      font-family: century;
      margin-top: 2rem;
      margin-bottom: 1rem;
      color: black;
    }

    .jewelry{
      display: block;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      margin-bottom: 2em;
      border: 3px dashed #F3B9D1;
      padding: 3em;
    }

    .feliciano{
      display: block;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      margin-top: 2em;
      margin-bottom: 2em;
      border: 3px dashed #F3B9D1;
      padding:3em;
    }

    .decoration{
      display: block;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      margin-top: 2em;
      margin-bottom: 2em;
      border: 3px dashed #F3B9D1;
      padding:3em;
    }

    .eternal p{
      margin-top: 2em;
      font-family: century;
      font-size: 2rem;
      text-align: center;
      color: black;
    }










    #type{
      background-color: white;
      margin-top: auto;
      margin-bottom: auto;
    }

    .typebrochure{
      text-align: center;
      font-size: 1.7rem;
      font-family: century;
      margin-top: 2rem;
      margin-bottom: 1rem;
      color: black;
    }

    .pamphlet{
      text-align: center;
      font-size: 1.7rem;
      font-family: century;
      margin-top: 2rem;
      margin-bottom: 1rem;
      color: black;
    }

    .classproject{
      display: block;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      margin-bottom: 2em;
      border: 3px dashed #F3B9D1;
      padding: 3em;
    }

    .pamphlet p{
      margin-top: 2em;
      font-family: century;
      font-size: 2rem;
      text-align: center;
      color: black;
    }















    #modern{
      background-color: white;
      margin-top: auto;
      margin-bottom: auto;
    }

    .wow{
      text-align: center;
      font-size: 1.7rem;
      font-family: century;
      margin-top: 2rem;
      margin-bottom: 1rem;
      color: black;
    }

    .aztec{
      text-align: center;
      font-size: 1.7rem;
      font-family: century;
      margin-top: 2rem;
      margin-bottom: 1rem;
      color: black;
    }

    .modernmap{
      display: block;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      margin-bottom: 2em;
      border: 3px dashed #F3B9D1;
      padding: 3em;
    }

    .aztec p{
      margin-top: 2em;
      font-family: century;
      font-size: 2rem;
      text-align: center;
      color: black;
    }


















    #designproject{
      background-color: white;
      margin-top: auto;
      margin-bottom: auto;
    }

    .project{
      text-align: center;
      font-size: 1.7rem;
      font-family: century;
      margin-top: 2rem;
      margin-bottom: 1rem;
      color: black;
    }

    .show{
      text-align: center;
      font-size: 1.7rem;
      font-family: century;
      margin-top: 2rem;
      margin-bottom: 1rem;
      color: black;
    }

    .mainpage{
      display: block;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      margin-bottom: 2em;
      border: 3px dashed #F3B9D1;
      padding: 3em;
    }

    .episodes{
      display: block;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      margin-bottom: 2em;
      border: 3px dashed #F3B9D1;
      padding: 3em;
    }

    .show p{
      margin-top: 2em;
      font-family: century;
      font-size: 2rem;
      text-align: center;
      color: black;
    }



















    #webandphone{
      background-color: white;
      margin-top: auto;
      margin-bottom: auto;
    }

    .two{
      text-align: center;
      font-size: 1.7rem;
      font-family: century;
      margin-top: 2rem;
      margin-bottom: 1rem;
      color: black;
    }

    .twofroms{
      text-align: center;
      font-size: 1.7rem;
      font-family: century;
      margin-top: 2rem;
      margin-bottom: 1rem;
      color: black;
    }

    .web{
      display: block;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      margin-bottom: 2em;
      border: 3px dashed #F3B9D1;
      padding: 3em;
    }

    .tab{
      display: block;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      margin-bottom: 2em;
      border: 3px dashed #F3B9D1;
      padding: 3em;
    }

    .phonetab{
      display: block;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      margin-bottom: 2em;
      border: 3px dashed #F3B9D1;
      padding: 3em;
    }

    .icon{
      display: block;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      margin-bottom: 2em;
      border: 3px dashed #F3B9D1;
      padding: 3em;
    }

    .twoforms p{
      margin-top: 2em;
      font-family: century;
      font-size: 2rem;
      text-align: center;
      color: black;
    }
